<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Believe</title>
</head>
<body>
    <div class="container">
        {% if "Lane" in name %}
        <h1>I <span class="heavy">do not believe</span> in you, {{name}}.</h1>
        {% elif name %}
        <h1>I <span class="heavy">believe</span> in you, {{name}}.</h1>
        {% else %}
        <h1>I <span class="heavy">believe</span> in you.</h1>
        {% endif %}

        {% if "Lane" in name %}
        <h1>🖕</h1>
        {% else %}
        <h1>🕊</h1>
        {% endif %}

    </div>
</body>
</html>